<h1>Home#show_cookie</h1>
<table>
  <tr>
    <td>First Name: </td>
    <td><%= @first_name %></td>
  </tr>
  <tr>
    <td>Surname: </td>
    <td><%= @surname %></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><%= @email %></td>
  </tr>
