/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
   background-image: url("Download-Movie-Template.jpg");
 }



 .panel-body{

   margin-left: auto!important;
    text-align: center;
    padding: 15px;
    margin-right: auto!important;
    background: #79a6d2;
    font-style: oblique;
    width: 80%;
    border: 2px solid black;
 }

.jumbotron{
  background: #F0F8FF;
}

.col-md-7{
  position: absolute;
  top:15%;
  left:45.5%;
  width: 500px;
  color: #ffffff;
}

.reviews{
  width:320px;
  padding:10px;
  border: 3px solid gray;
  margin:0;
}

.search-body{
img {height: 500px;
  width: 60%;}
}

.bottom{
  background: silver;
  position: absolute;

}
