h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.signup {
  margin:0 auto;
  max-width:500px;
}
.signup-header {
  color:#f2f2f2;
  text-align:center;
  font-size:200%;
}

.signup-form {
  border:.5px solid #fff;
  background:#79a6d2;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.signup-form h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.signup-form {
  box-sizing:border-box;
  padding-top:15px;
	padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.signup input[type="text"],
.signup input[type="password"]
.signup input[type="password"]
.signup input[type="text"]
.signup input[type="text"]{
  max-width:175px;
	width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  height: 25px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.signup-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
