<div class="push">
  <div class="footer navbar-fixed-bottom">
    <div class="container">
      <nav>
        <div class ="bottom">
        <hr>
        <p>Copyright = <%= Date.today.year %>
        </p>
        <hr>
        </div>
    </div>

  </div>

</div>
